#loader {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    color: whitesmoke;
}

#loader img {
    animation: fadeIn 1.5s ease-in-out infinite alternate;
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    #loader {
        font-size: 14px;
        padding: 10px;
    }
}